logs
*.log

pids
*.pid
*.seed
.grunt
build/Release

/node_modules/
/typings/

.lock-wscript
.tsdrc
.typingsrc

.DS_Store
.localized
Thumbs.db

.idea
.vscode
*.iml

.rdb
.tmp
*.sass-cache

dist
dev
prod
docs
lib
test
tmp
